[submodule "themes/paper"]
	path = themes/paper
	url = https://github.com/nanxiaobei/hugo-paper
[submodule "website/themes/paper"]
	path = website/themes/paper
	url = https://github.com/nanxiaobei/hugo-paper

